<div class="c-main">
  <div>
      <h1> Crud Demo created by _Shinigami_</h1>
  </div>
  <h2>Danh sach sinh vien</h2>
  <p>PS: Server backend o trong thu muc server a</p>
    <div class="c-body">
      <div class="c-list">
        <ul class="w3-ul w3-card-4" >
          <li class="w3-bar" *ngFor="let sinhvien of list; index as i" >
            <span  class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)= "removeSinhVien(i)">×</span>
            <span  class="w3-bar-item w3-button w3-white w3-xlarge w3-right" (click)= "clickSinhVien(i)">></span>
            <img src=" {{sinhvien.sex ? '../assets/img_avatar1.png':'../assets/img_avatar2.png' }}" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
            <div class="w3-bar-item">
              <span class="w3-large">{{sinhvien.name}}</span><br>
              <span class="w3-large">{{sinhvien.email}}</span>  
            
            </div>
          </li>
        
        </ul>
      </div>
    <div class="c-card">
 
      <div *ngIf="sinhvien == -1; else elseBlock">
        <img class= "c-card-img" src="../assets/img_avatar.jpg" alt="Avatar" >
        <div class="c-card-desc">
          <h4><b>Name: Sinh vien nao do</b></h4> 
          <p><b>ID:</b> </p> 
          <p><b>Email:</b> </p> 
          <p><b>Username:</b> </p> 
          <p><b>Age:</b> </p> 
          <p><b>Sex:</b> </p>
        </div>
      </div>
      <ng-template #elseBlock>
        <img class= "c-card-img"  alt="Avatar" src=" {{list[sinhvien].sex ? '../assets/img_avatar1.png':'../assets/img_avatar2.png' }}" >
        <div class="c-card-desc">
          <h4><b>Name: {{list[sinhvien].name}}</b></h4> 
          <p><b>ID:</b> {{list[sinhvien].id}}</p> 
          <p><b>Email:</b> {{list[sinhvien].email}}</p> 
          <p><b>Username:</b> {{list[sinhvien].username}}</p> 
          <p><b>Age:</b> {{list[sinhvien].age}}</p> 
          <p><b>Sex:</b>  {{list[sinhvien].sex ? 'Nam':'Nu' }}</p>
        </div>
      </ng-template>
    </div>
    <div class="c-form">
      <div class="w3-container w3-blue">
        <h2>Input Form</h2>
      </div>
      
      <form class="w3-container"  
      #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <p>
        <label>Username</label>
        <input class="w3-input" type="text" name="username" ngModel></p>
        <p>
        <label>Name</label>
        <input class="w3-input" type="text" name="name" ngModel></p>
        <p>
        <label>Email</label>
        <input class="w3-input" type="text" name="email" ngModel></p>
        <p>
          <label>Age</label>
          <input class="w3-input" type="number" name="age" ngModel></p>
        <p>
            <input class="w3-radio" type="radio" name="sex" value=true checked ngModel>
            <label> Male</label></p>
            <p>
            <input class="w3-radio" type="radio" name="sex" value=false ngModel>
            <label> Female</label></p>
        <button class="w3-btn w3-blue-grey" type="submit">Them</button>
      </form>
    </div>
  </div>
 


 
</div>